@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Sedgwick Ave Display", sans-serif;
  background-color: rgb(255, 255, 255);
}